.articles_section{
    background-color: #f9f9f9 !important;
  background-image: url("../../assets/images/background/pattern.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
 
  width: 100%;

}


.articles_main{
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
    flex-direction: column;
    padding-top: 22rem;
}

.heading-subtitle{
    font-size: var(--fs-500);
    font-weight: var(--fw-bold);
    color: var(--clr-accent-400);
    text-transform: capitalize;
    text-align: center !important;

}
.heading-title{
    font-size: 2.125rem !important;
    font-weight: var(--fw-semi-bold);
    color: var(--clr-neutral-100) !important;
    text-transform: capitalize;
    font-family: "Rubik", sans-serif;
}
.slider_aricles{
    padding-block: 4rem;
}
.case-title{
    display: flex;
    justify-content: center;
    align-items: start;
    gap: 0.4rem;
    flex-direction: column;
}

.case-title h4{
    font-size: 1.25rem;
    font-weight: var(--fw-semi-bold);
    color: black;
    text-transform: capitalize;
    font-family: "Rubik", sans-serif;
    text-decoration: none !important;
    text-align: start !important;
}
.case-cat{
    font-size:var(--fs-400);
    text-transform: capitalize;
    color: var(--clr-accent-400);
    text-align: start !important;
}
.case-desc p{
    font-size: var(--fs-500);
    color: var(--clr-accent-100);
    
    text-align: start !important;

}
.case-more{
    font-size: var(--fs-400);
    color: var(-clr-neutral-100);
    text-transform: capitalize;
    
    text-decoration: none !important;
    font-weight: var(--fw-bold);
    text-align: start !important;
    display: flex;
    gap: 0.5rem;
    align-items: center;
    justify-content: start;
}
.slider_container{
    display: flex;
    flex-direction: column;
    justify-self: start;
    align-items: center;
    width: 100%;
    gap: 2rem;
    
    
}
.case-content{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 100%;
    padding-inline: 2rem;
    background-color: white;
    padding-bottom: 2rem;
    position: relative; /* Needed for absolute positioning of pseudo-element */
    transition: all 0.3s ease-in-out;
}

.case-content::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 80%; /* Adjust this value to control border length */
    height: 4px;
    background-color: red;
}

@media (max-width:67.375em) {
    .articles_main{
        display: flex;
        justify-content: center;
        align-items: center;
        /* height: 100vh; */
        flex-direction: column;
        padding-top: 20rem;
    }
}

@media (max-width:66.5em) {
    .articles_main{
        display: flex;
        justify-content: center;
        align-items: center;
        /* height: 100vh; */
        flex-direction: column;
        padding-top: 6rem;
    }
}


/* show case  slider*/
.show_case_container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    padding-block: 2rem;
}

.sub_head_showcase{
    font-size: var(--fs-500);
    color: var(--clr-accent-400);
    font-weight: var(--fw-bold);
    text-transform: capitalize;
    text-align: center;

}

.head_showcase{
    font-size: var(--fs-750);
    text-align: center;
    font-weight: var(--fw-semi-bold);
    text-transform: capitalize;
    font-family: "Rubik", sans-serif;
}
.show_case_head{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0.2rem;
}
.para_showcase{
    font-size: var(--fs-600);
    color: var(--clr-accent-100);
    text-align: center;
    width: 90ch;
    
    
}